body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images\ \(5\).jfif");
    background-size: cover;
    font-family: url("pure_blossom.zip")abc;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: abc;
}
form {
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 15px ;
    height: 400px;
    width: 420px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}


form input {
    display: flex;
    flex-wrap: nowrap;
}